:root {
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #a3b18a;
    --bg-secondary: #3a5a40;
}

body {
    color: #000;
    background-color: #FFF;
    margin: 0;
    padding: 0;
    width: calc(100vw - 6.3rem);
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #dad7cd;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 200ms ease;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-nav img {
    max-width: 80%; 
    max-height: 80%; 
    object-fit: contain;
    margin: 0 0.3rem;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.5);
    transition: var(--transition-speed);
}

.nav-link-active {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(1);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo img {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar-top {
    background-color: var(--bg-secondary); 
    width: 100%;
}

.navbar-top-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
    margin-left: 6rem;
}

.card {
    width: calc(98vw - 6.3rem);
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center; 
    align-items: center; 
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.card-image img {
    max-width: 100%;
    max-height: 150px; /* Altura máxima de la imagen */
    object-fit: contain;
}

.card-content {
    padding: 5px;
    text-align: center;
}

.card-content h2 {
    margin-top: 0;
    font-size: 24px;
    color: #ff6347; /* Color rojo para el título de atención */
}

.card-content p {
    margin-bottom: 0;
    font-size: 18px;
    text-align: left;
}

.noticia {
    display: flex;
    margin-top: 20px;
    width: calc(98vw - 6.3rem);
}

.fecha-publicacion {
    color: #666;
    margin-bottom: 10px;
    font-size: 16px;
}

.noticia-image img {
    max-width: 100%;
    max-height: 150px; /* Altura máxima de la imagen */
    object-fit: contain;
}
.noticia-content h2 {
    font-size: 24px;
    color: #000;
    margin-top: 0;
}

.noticia-content .fecha-publicacion {
    font-size: 14px;
    color: #222;
    margin-bottom: 5px;
}

.noticia-content p {
    font-size: 16px;
    color: #333;
}

.lista-novelas {
    padding-left: 20px;
}

.lista-novelas li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    body {
        color: #000;
        background-color: #FFF;
        margin: 0;
        padding: 0;
        width: 100vw;
    }

    .card {
        width: 100%;
    }

    .noticia {
        width: 97vw;
    }

    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }

    .navbar-top-nav {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: var(--text-secondary);
        background: var(--bg-secondary);
        font-size: 0.5rem;
    }

    .main {
        margin-top: 5rem; /* Ajusta el margen superior para dejar espacio para el menú */
    }

    .pagination {
        margin-bottom: 5rem; /* Agrega un margen inferior para separar los controles de paginación del menú */
    }
}

@media only screen and (min-width: 600px) and (max-width: 960px) {
    body {
        color: #000;
        background-color: #FFF;
        margin: 0;
        padding: 0;
        width: 100vw;
    }
    .container {
        margin-bottom: 10px; /* Valor base del margen inferior */
    }
    
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar-top-nav {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1rem;
        margin-left: 5rem;
        text-align: center;
        color: var(--text-secondary);
        background: var(--bg-secondary);
        font-size: 0.7rem;
    }
}

@media only screen and (min-width: 960px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }
}